[submodule "themes/next"]
    path = themes/next
    url = https://github.com/huangguangjie/huangguangjie.github.io.git
[submodule "themes/huno"]
    path = themes/huno
    url = https://github.com/huangguangjie/huangguangjie.github.io.git
[submodule "themes/yilia"]
    path = themes/yilia
    url = https://github.com/huangguangjie/huangguangjie.github.io.git
[submodule "themes/landscape"]
    path = themes/landscape
    url = https://github.com/huangguangjie/huangguangjie.github.io.git